@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/
:root {
    --main-color: #5E17EB;
    --text-color: #5E17EB;
    --black: rgb(0, 0, 0) ;
    --bg-color: #fff;
}


body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden !important;
    background-color: var(--bg-color);
}

.productos{
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 100px;
    margin-bottom: 300px;
    
    
}

.header-img {
    flex-basis: 40%;
    text-align: center;
    
   
}

.header-txt {
    flex-basis: 50%;
    text-align: center;
}

.header-txt h1 {
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 15px;
}

.header-txt p {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.subtitulos h1{
    font-size: 50px;
    margin: 0 45%;
}


.card{
    width: 350px;
    height: 500px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
    transition: all 2s;
}
#menus {
    display: none;
}
.dropdown  label {
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 576px) {}
@media (max-width:991px) {
    .dropdown label {
        display: initial;
    }
    .navbar .login{
        margin-left: 85%;
       
    }
    .navbar .menus  {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--black);
        display: none;
    }
    .logo {
        display: none;
    }
    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 50px 0;
        flex-direction: column;
    }

    .header-img {
        display: none;
    }

    .header-txt {
        flex-basis: 100%;
        text-align: center;
    }

    .header-txt h1 {
        font-size: 70px;
    }

    .ofert {
        padding: 30px 30px 0 30px;
        flex-direction: column;
    }

    .ofert-1 {
        margin-bottom: 30px;
    }
    .subtitulos h1{
        font-size: 50px;
        flex-basis: 100%;
        text-align: center;
        margin: 0;
    }
 

    

}

